<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>sourceServlet</display-name>
    <servlet-name>sourceServlet</servlet-name>
    <servlet-class>sourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sourceServlet</servlet-name>
    <url-pattern>/sourceServlet</url-pattern>
  </servlet-mapping>
  <display-name>Session_Cookie_assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>targetServlet</display-name>
    <servlet-name>targetServlet</servlet-name>
    <servlet-class>targetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>targetServlet</servlet-name>
    <url-pattern>/targetServlet</url-pattern>
  </servlet-mapping>
</web-app>